@font-face {
    font-family: Norse-Bold;
    src: url(fonts/Norse-Bold.otf);
}


* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;

}

.content {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.left {
    position: relative;
    display: flex;
    flex-direction: column;
    background-image: url("images/nature.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 30vw;


}

.credit {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: #FAFAFA;
}

.credit a {
    color: #FAFAFA;
    text-decoration: none;
}


.right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #FAFAFA;
    width: 70vw;
    height: 100%;

}

.right {
    max-width: 100%;
}


.input-container input {
    max-width: 100%;
}

.banner {
    position: relative;
    display: flex;
    flex-direction: row;
    top: 20%;
    align-items: center;
    justify-content: center;
    height: 20vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0.9;
    margin: 0 auto;
    gap: 0.5rem;
}



.banner img {
    color: black;
    width: 4rem;
    height: 6rem;
}

.banner h2 {
    font-size: 6rem;
    color: white;
    text-align: center;
    font-family: Norse-Bold;
}



.first {
    height: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
    margin-left: 5%;
    margin-bottom: 5%;
}

.first h2 {
    font-size: 1.5rem;
    max-width: 55vw;
    line-height: 1.7rem;
}

.first h3 {
    width: 100%;
    font-size: 1.3rem;
}


.second {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #FFF;
    padding-left: 5%;
    padding-top: 3%;
    height: 70%;
    box-shadow: 2px 4px #E5E7EB;

}

.second h3 {
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 2%;
}


.form-main-div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-size: 1rem;
    gap: 6rem;
    margin-bottom: 3rem;


}

.form-div {
    display: flex;
    flex-direction: column;
}

.third {
    width: 100%;

}

.third p a {
    margin-top: 2rem;
}

.input-container {
    display: flex;
    flex-flow: column;
    padding-top: 15px;

}

.input-container label {
    color: #080807;
    font-family: 'Roboto', sans-serif;
    margin-top: 0.3rem;
    font-size: 0.9rem;
}


input {
    width: 16rem;
    height: 1.7rem;
    margin-top: 5px;
    border: 2px solid #E5E7EB;
    border-radius: 5px;
}

input:focus {

    border: 1px solid rgba(81, 203, 238, 1)
}

input[type=password]:invalid {
    border: 1px solid red;
}

input[type=password]:valid {
    border: 1px solid blue;
}



button {
    background-color: #596D48;
    border-radius: 10px;
    padding: 15px 40px;
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
    font-family: 'Roboto', sans-serif;
    box-shadow: 2px 4px #E5E7EB;
    border: none;
}

button:hover {
    transform: translateY(-1px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}



.third p {
    font-size: 1.3rem;
    margin-top: 1rem;
}

.third p a {
    color: #596D48;
    text-decoration: none;
    font-size: 1.3rem;
}